apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bizmatters-workloads
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: https://github.com/arun4infra/bizmatters.git  # TODO: Update with actual private repo URL
    targetRevision: main
    path: platform/claims
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
